@model Model.EF.NhomTK

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/assets/library/css/layout.css")

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home/Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Admin/UserGroup/Index">Quản lý nhóm tài khoản</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin nhóm tài khoản
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        @using (Html.BeginForm("Edit", "UserGroup", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.MaNhomTK)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TenNhomTK, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenNhomTK, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenNhomTK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
</div>
